/** Body **/

body {
    background: pink;
}

a {
    color: #000000;
    transition: .3s;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px!important;
}



/** Body **/

.calculatorArea {
    margin: 50px 30px 0px 30px;
    padding: 10px 0px 30px 10px;
    background: #05bf96;
}


.btn:hover {
    border-radius: 10px;
    box-shadow: 2px 4px 7px -4px rgb(223, 27, 27);
}

.text-bold {
    font-weight: bold;
}


/** Header **/

.resultArea {
    background: #ffffff;
    height: 80px;
    font-weight: bold;
    color: #a41010;
    text-align: right;
    padding-right: 40px;
    padding-top: 12px;
    white-space: normal;
    word-wrap: break-word;
}

.resultArea-md {
    font-size: 35px;
}

.resultArea-sm {
    font-size: 25px;
}

.resultArea-xsm {
    font-size: 16px;
}

.resultArea-xxsm {
    font-size: 10px;
}


/** Header **/


/*** BODY ***/

.calculator-body-part {
    height: auto;
    min-height: 200px;
    margin-top: 20px;
}

.top-button {
    background: #ff01d9;
    /* border: 1px solid #10b9bc; */
    width: 19%;
    margin: 0px 0px 0px 10px;
}

.top-button:hover {
    background: #ff00d0;
    border: 1px solid #9A6F92;
}

.btn-mem {
    background: #1cff02;
    border: 1px solid #8abbbe;
    width: 19%;
    margin: 0px 0px 0px 10px;
}

.btn-mem:hover {
    background: #04f800;
    border: 1px solid #6E9B6D;
}

.btn-digit-operation {
    width: 15%;
    margin: 0px 0px 0px 10px;
}

.btn-digit {
    background: #0066ff;
    border: 1px solid #758FB5;
}

.btn-digit:hover {
    background: #85A2C9;
    border: 1px solid #85A2C9;
}

.btn-operation {
    background: #ff0000;
    border: 1px solid #979797;
}

.btn-operation:hover {
    background: #858585;
    border: 1px solid #858585;
}

.btn-equal {
    background: #6a0700;
    border: 1px solid #BF6F69;
}

.btn-equal:hover {
    background: #460901;
    border: 1px solid #AD655C;
}


/*** BODY ***/

@media (min-width: 768px) {
    .col-md-5 {
        flex: 5 0 51.666667%;
        max-width: 50.666667%;
    }
}

p.copy-right {
    color: #4b0202!important;
    margin-right: 27px;
}



